
@model Movie

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.releaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.releaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.blurb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.releaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
