@model IEnumerable<Learn_Net_Core_ASP.Models.Movie>
@addTagHelper *, Microsoft.Aspnet

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.blurb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                <a asp-controller="Rating" action="RatingForMovie" movie-id="1"></a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.blurb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { movieId=item.id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
